body {
    background-color: white;
  }
  header {
    background: url(img/cats.jpg);
    background-size: cover;
    background-position: center;
    min-height: 1000px;
  }
  @media screen and (max-width: 670px){
    header{
      min-height: 500px;
    }
  }
  .section{
    padding-top: 4vw;
    padding-bottom: 4vw;
  }
  .link {
    color:white;
    text-decoration: none; 
    background-color: none;
  }
  .resume-about-link {
    color: #039be5;
    text-decoration: none; 
    background-color: none;
  }
  .page-footer {
    padding-bottom: 1px;
  }
  .project-row {
    margin-bottom: 60px;
  }
  nav {
    opacity: .8;
  }